<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">

        <title>Numeros ._.</title>

        <link rel="stylesheet" type="text/css" href="/Atividade Repetiçao/Atividade 03/View/Style/style.css">

    </head>

    <body id="background">

        <header>

            <h1>Numeru ._.</h1>

        </header>

        <section>

            <div>

            </div>

            <div>

            </div>

        </section>

        <footer>
            <p>
             &copy; SamuelCabral
            </p>
        </footer>

    </body>

</html>