<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">

        <title>Numeros ._.</title>

        <link rel="stylesheet" type="text/css" href="/Atividade Repetiçao/Atividade 03/View/Style/style.css">

    </head>

    <body id="background">

        <header>

            <h1>Numeru ._.</h1>

        </header>

        <section>

            <div>
                Digite um numero de 1 a 100 <input type="number" name="number" id="number">

                <input type="button" value="adicionar numero .-." name="btn" id="btn" onclick="addNumber()">
            </div>

            <div>

            <p>
                <select name="tabNumbers" id="tabNumbers"></select>
            </p>

            <p>
                <input type="button" value="ver detalhes ._." name="btnDetails" id="btnDetails" onclick="showDetails()">
            </p>

            </div>

        </section>

        <footer>
            <p>
             &copy; SamuelCabral
            </p>
        </footer>

        <script src="/Atividade Repetiçao/Atividade 03/Controller/PageController.js">

        </script>

    </body>

</html>