<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">

        <title>Contar intervalo</title>

        <link rel="Stylesheet" type="text/css" href="/Atividade Repetiçao/Atividade 01/View/Style/Style.css">

    </head>

    <body>


        <header>

            <h1>Contador</h1>

        </header>

        <section>

            <div>
                <p>
                    
                    digite o numero de partida <input type="number" name="startNumber" id="startNumber"> 

                </p>

                <p>
                    
                    digite o numero de Final <input type="number" name="finalNumber" id="startNumber"> 

                </p>

                <p>

                    digite o intervalo <input type="number" name="interval" id="interval">

                </p>

            </div>

            <div>

                <input type="button" value="go" name="go" id="go"> 
               
            </div>

            <div id="result">

                contando:
               
            </div>

        </section>

        <footer>

            <p>
                &copy;
                SamuelCabral
            </p>

        </footer>

        <script src="/Atividade Repetiçao/Atividade 01/Controller/PageController.js">
            
        </script>

    </body>

</html> 