<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">

        <title>Contar intervalo</title>

        <link rel="Stylesheet" type="text/css" href="/Atividade Repetiçao/Atividade 01/Style/Style.css"

    </head>

    <body>


        <header>

            <h1>Contador</h1>

        </header>

        <section>



        </section>

        <footer>

            <p>
                &copy;
                SamuelCabral
            </p>

        </footer>

        <script src="/Atividade Repetiçao/Atividade 01/Controller/PageController.js">
            
        </script>

    </body>

</html> 