<!DOCTYPE html>

<html>

    <head>
        
        <meta charset="UTF-8">

        <title>Modelo de Exercicio</title>

        <link rel="stylesheet" type=" text/css" href="/Aula13/View/style/style.css" >
    </head>

    <body>

        <header>

            <h1>Titulo</h1>

        </header>

        <section>

            <div>

                <p>testando</p>

                <p>testando</p>
            </div>

        </section>

        <footer>
            
            <p>
                &copy; SamuelRicardo
            </p>

        </footer>

        <script src="/Aula13/script/script.js">
            
        </script>

    </body>


</html>