<!DOCTYPE html>

<html>

    <head>
        
        <meta charset="UTF-8">

        <title>Modelo de Exercicio</title>

        <link rel="stylesheet" type=" text/css" href="style/style.css" >
    </head>

    <body onload="load()">

        <header>

            <h1>Hora do dia</h1>

        </header>

        <section>

            <div id="mensageArea">

            </div>

            <div id="imageArea">

                <img id="image" src="/Atividade (mini-site 01)/Aula14 (2-3)/images/morning.jpg" alt="Foto do dia">
            </div>

        </section>

        <footer>
            
            <p>
                &copy; SamuelRicardo
            </p>

        </footer>

        <script src="/Atividade (mini-site 01)/Aula14 (2-3)/script/script.js">
            
        </script>

    </body>


</html>