<!DOCTYPE html>

<html>

    <head>
        
        <meta charset="UTF-8">

        <title>Modelo de Exercicio</title>

        <link rel="stylesheet" type=" text/css" href="/Atividade Repetiçao/Atividade 02/View/style/style.css" >
    </head>

    <body>

        <header>

            <h1>Titulo</h1>

        </header>

        <section>

            <div>

                <p>
                    
                    Numero: <input type="number" name="number" id="number"> 
                    
                    <input type="button" value="gerar"  name="btn" id="btn" onclick="gerarTabuada()">
                
                </p>

                <p>
                    <select name="tabuada" id="tabuada">

                        

                    </select>
                </p>
            </div>

        </section>

        <footer>
            
            <p>
                &copy; SamuelRicardo
            </p>

        </footer>

        <script src="/Atividade Repetiçao/Atividade 02/Controller/pageController.js">
            
        </script>

    </body>


</html>