div{

    background-color: chartreuse;
    background-color: #FFFFFF;
    background-color: rgb( 20%, 60%, 50%);
    background-color: rgba( 20%, 60%, 50%, 0.5);
    background-color: hsla(120, 100% , 50%, 1);
    
}