div{

    background-color: chartreuse;
    background-color: #FFFFFF;
    background-color: rgb( 20%, 60%, 50%);
    background-color: rgba( 20%, 60%, 50%, 0.5);
    background-color: hsla(120, 100% , 50%, 1);
    background-image: url(/Images/paladino.jpg);
    background-repeat: repeat;
    background-position: center;
    /*background-position: 50% 30px;*/

    background: lawngreen url(/Images/paladino.jpg) repeat center;

}